.board{
  display: grid;
  grid-template-columns: repeat(8, 80px);
  grid-template-rows: repeat(8, 80px);
  justify-content: center;
  align-content: center;
  height: 100vh;
}

.square{
  width: 80px;
  height: 80px;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.piece {
  width: 70px;
  height: 70px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.p-white{ background-image: url(../public/p-w.png); }
.n-white{ background-image: url(../public/h-w.png); }
.b-white{ background-image: url(../public/a-w.png); }
.r-white{ background-image: url(../public/r-w.png); }
.q-white{ background-image: url(../public/q-w.png); }
.k-white{ background-image: url(../public/k-w.png); }

.p-black{ background-image: url(../public/p-b.png); }
.n-black{ background-image: url(../public/h-b.png); }
.b-black{ background-image: url(../public/a-b.png); }
.r-black{ background-image: url(../public/r-b.png); }
.q-black{ background-image: url(../public/q-b.png); }
.k-black{ background-image: url(../public/k-b.png); }


/*Interface*/

body{
  margin: 0;
  padding: 0;
}

.i{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  background-color: #377CCD;
}

.i h1{
  font-size: 64px;
  font-weight: bolder;
  color: white;
  margin-bottom: 150px;
}

.btn{
  border: 8px solid black;
  background-color: #FF3D00;
  font-size: 48px;
  font-weight: bolder;
  color: white;
  border-radius: 50px;
  padding: 10px 0;
  display: block;
  margin: 10px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  width: 300px;
}

.btn:hover{
  transform: scale(.95);
  background-color: #ff3c00c6;
}